* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(223, 227, 238);
    margin: 0;
}

h1 {
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    color: white;
    background-color: rgb(41, 72, 125);
    padding: 4rem;
    
}

.score {
    display: flex;
    font-size: 2rem;
    text-align: center;
    color: white;
    margin-bottom: 1.5rem;
}

#score-player {
    background-color: rgb(60, 88, 152);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    flex: 1;
}
#score-computer {
    background-color: rgb(139, 157, 195);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    flex: 1;
}

#selection {
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5rem;
}

.choices {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
    color: rgb(56, 59, 60);
}

.choice {
    font-size: min(20vw, 16rem);
    margin-bottom: 4rem;
}

.choice:hover {
    color: rgb(60, 88, 152);
    cursor:pointer;
}

#cover {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    animation-name: transition;
    animation-duration: 1s;
    background: rgba(0, 0, 0, 0.5);
}

@keyframes transition {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
}

#win-status {
    font-weight: bold;
    font-size: 2.5rem;
}

#answer-symbol {
    font-size: 15rem;
    color:rgb(56, 59, 60);
}

.result-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    margin: 10% 15%;
    font-size: 1.5rem;
    border-radius: 1rem;
    padding: 2rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:  rgb(41, 72, 125);
    height: 12.5rem;
}

#restart {
    background-color: rgb(156, 178, 206);
    color: white;
    font-weight: 500;
    font-size: 4rem;
    padding: 2rem 10vw;
    border-radius: 12.5rem;
}

#restart:hover {
    cursor: pointer;
}

.footnote {
    background: none;
    bottom: 0;
    width: 100%;
    margin-top: 1rem;
    text-align: center;
}
